<a href="https://colab.research.google.com/github/jjj7yun/Algorithm/blob/main/surp2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
%cd /content/drive/MyDrive/논문/jupyter

/content/drive/MyDrive/논문/jupyter

In [1]:
!pip --trusted-host pypi.org --trusted-host files.pythonhosted.org install scikit-surprise

Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |████████████████████████████████| 11.8 MB 29.4 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.1.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.21.6)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1630185 sha256=7228056222c452bebf771c2630ebce589df4e90835b53614fb2934199cc3814e
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.1

In [4]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.decomposition import TruncatedSVD
from sklearn.cluster import KMeans, MiniBatchKMeans
from scipy.spatial.distance import euclidean
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import MinMaxScaler
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

from surprise import Dataset
from surprise.model_selection import train_test_split
import pandas as pd
import os
from surprise import Reader
from surprise.model_selection import train_test_split
from surprise import SVD
from surprise import Dataset
from surprise import accuracy
from surprise.model_selection import train_test_split
from surprise import accuracy
from surprise.model_selection import GridSearchCV

In [7]:
!python surp_1.ipynb

Traceback (most recent call last):
  File "surp_1.ipynb", line 209, in <module>
    "execution_count": null,
NameError: name 'null' is not defined

In [8]:
book =pd.read_csv('./data/bookrating_end.csv')

In [9]:
book.head()

,Unnamed: 0,filename,userid,title,rating,content,author,plot
0,0,24BqEWE785rjn:contents:books:ratings .xlsx,24BqEWE785rjn,변신,4.0,books,프란츠 카프카,밀란 쿤데라는 카프카의 작품을 두고 '검은색의 기이한 아름다움'이라 표현했다. <변...
1,1,2mwvgYmarxMa7:contents:books:ratings.xlsx,2mwvgYmarxMa7,변신,1.0,books,프란츠 카프카,밀란 쿤데라는 카프카의 작품을 두고 '검은색의 기이한 아름다움'이라 표현했다. <변...
2,2,6NW5Qb02wx1Yo:contents:books:ratings .xlsx,6NW5Qb02wx1Yo,변신,3.0,books,프란츠 카프카,밀란 쿤데라는 카프카의 작품을 두고 '검은색의 기이한 아름다움'이라 표현했다. <변...
3,3,6NW5QzzJkx1Yo:contents:books:ratings .xlsx,6NW5QzzJkx1Yo,변신,4.5,books,프란츠 카프카,밀란 쿤데라는 카프카의 작품을 두고 '검은색의 기이한 아름다움'이라 표현했다. <변...
4,4,JgAx88jRVxLbO:contents:books:ratings.xlsx,JgAx88jRVxLbO,변신,3.5,books,프란츠 카프카,밀란 쿤데라는 카프카의 작품을 두고 '검은색의 기이한 아름다움'이라 표현했다. <변...

In [12]:
data = book[['userid','title','rating']]

In [13]:
data.columns=['userId','movieId','rating']

In [15]:
reader = Reader(rating_scale=(0.5, 5))

In [16]:
data = Dataset.load_from_df(data[['userId','movieId','rating']],
                           reader=reader)
train, test = train_test_split(data, test_size=0.25, random_state=42)

In [17]:
algo = SVD()
algo.fit(train)

In [18]:
prediction = algo.test(test)
print('prediction type: ', type(prediction),
     'size: ', len(prediction))
print()
print('prediction 결과값 5개 미리보기')
print(prediction[:5])

prediction type:  <class 'list'> size:  1368

prediction 결과값 5개 미리보기
[Prediction(uid='2mwvggAE2vMa7', iid='광장/구운몽', r_ui=4.5, est=4.011658922897378, details={'was_impossible': False}), Prediction(uid='6NW5QB9Lyx1Yo', iid='왜 나는 너를 사랑하는가', r_ui=4.0, est=4.4132151436949725, details={'was_impossible': False}), Prediction(uid='ZBm5RVn735d46', iid='대성당', r_ui=4.5, est=3.9160583101778075, details={'was_impossible': False}), Prediction(uid='VRZv4BaEEnxr6', iid='카탈로니아 찬가', r_ui=4.0, est=3.8350774405760824, details={'was_impossible': False}), Prediction(uid='YMKqmwrVr5loD', iid='모순', r_ui=4.0, est=3.7584631048847084, details={'was_impossible': False})]

In [19]:
result = [(pred.uid, pred.iid, pred.est) for pred in prediction[:5]]
print(result)

[('2mwvggAE2vMa7', '광장/구운몽', 4.011658922897378), ('6NW5QB9Lyx1Yo', '왜 나는 너를 사랑하는가', 4.4132151436949725), ('ZBm5RVn735d46', '대성당', 3.9160583101778075), ('VRZv4BaEEnxr6', '카탈로니아 찬가', 3.8350774405760824), ('YMKqmwrVr5loD', '모순', 3.7584631048847084)]

In [20]:
uid = 'JZ4vBRBaWvRXO'
iid = '구해줘'
pred = algo.predict(uid, iid)
print(pred)

user: JZ4vBRBaWvRXO item: 구해줘        r_ui = None   est = 3.24   {'was_impossible': False}

In [21]:
predictions = algo.test(test)
accuracy.rmse(predictions)

RMSE: 0.7234

0.7234350150953796

In [23]:
from surprise.model_selection import cross_validate
algo = SVD(n_factors=50, random_state=42)
# cross_validate에는 파라미터를 입력시켜 놓은 모델을 인자로 넣어주자!
cross_validate(algo, data, measures=['RMSE','MAE'], cv=5,
              verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.7492  0.7163  0.7294  0.7023  0.7380  0.7271  0.0164
MAE (testset)     0.5668  0.5359  0.5517  0.5472  0.5660  0.5535  0.0117
Fit time          0.16    0.16    0.15    0.15    0.16    0.16    0.00
Test time         0.01    0.01    0.01    0.01    0.02    0.01    0.01

{'fit_time': (0.16339659690856934,
  0.1605994701385498,
  0.15034842491149902,
  0.15247082710266113,
  0.15932965278625488),
 'test_mae': array([0.5668034 , 0.53590114, 0.55167011, 0.54720517, 0.56597995]),
 'test_rmse': array([0.74919182, 0.71634689, 0.72944075, 0.70229644, 0.73798615]),
 'test_time': (0.006797313690185547,
  0.008078575134277344,
  0.007880449295043945,
  0.007680416107177734,
  0.021819353103637695)}

In [24]:
# GridSearch 할 파라미터 사전적으로 정의
param_grid = {'n_epochs':[20,40], 'n_factors':[50, 100,200]}

# GridSearchCV는 cross_validate와는 달리 인자에 알고리즘 자체를 넣어준다!
grid = GridSearchCV(SVD, param_grid=param_grid,
                   measures=['rmse','mae'], cv=3) # measure을 소문자로 해줘야함!
# GridSearchCV로 데이터 학습시키기
grid.fit(data)

# 최고의 score와 그 때의 파라미터 출력
print(grid.best_score['rmse'])
print(grid.best_params['rmse'])

0.7312600028061954
{'n_epochs': 20, 'n_factors': 50}

In [26]:
prediction_result = [(pred.uid, pred.iid, pred.est) for pred in prediction]
prediction_result=pd.DataFrame(prediction_result)
prediction_result.columns=['userId','movieId','rating']
prediction_result.sort_values(by=['userId'],ascending=False)

             userId                movieId    rating
1261            진                댈러웨이 부인  4.044678
1360            진  2020 제11회 젊은작가상 수상작품집  3.905297
645             진                 일인칭 단수  3.437525
285             진              방금 떠나온 세계  3.990996
1074            진              죽음의 수용소에서  4.002839
...             ...                    ...       ...
535   2mwvg7EagvMa7                 파이 이야기  3.309053
659   24BqEWE785rjn               살인자의 기억법  3.849308
1275  24BqEWE785rjn              용의자 X의 헌신  4.088735
1309  24BqEWE785rjn                    아몬드  3.523215
1108  24BqEWE785rjn                     테스  3.956721

[1368 rows x 3 columns]

In [27]:
def sortkey_est(pred):
        return pred.est
predictions.sort(key=sortkey_est, reverse=True)
top_predictions = predictions[:30]
top_predictions
# top_movie_ids = [pred.iid for pred in top_predictions]
top_movie_ratings = [pred.est for pred in top_predictions]
top_movie_titles = [pred.iid for pred in top_predictions]
# 위 3가지를 튜플로 담기
# zip함수를 사용해서 각 자료구조(여기선 리스트)의 똑같은 위치에있는 값들을 mapping
# zip함수는 참고로 여러개의 문자열의 똑같은 위치들끼리 mapping도 가능!
top_movie_preds = [( rating, title) for  rating, title in zip(top_movie_ratings, top_movie_titles)]

In [28]:
top_movie_preds

[(4.99363874006277, '안나 카레니나'),
 (4.879972601847631, '어린 왕자'),
 (4.871982763538107, '토지'),
 (4.8657223985075495, '모모'),
 (4.788753304074694, '달과 6펜스'),
 (4.7679173385358995, '이방인'),
 (4.739741211244818, '어린 왕자'),
 (4.708278628150125, '의지와 표상으로서의 세계'),
 (4.704925705295769, '동물농장'),
 (4.696646287104574, '허클베리 핀의 모험'),
 (4.672605863813168, '모모'),
 (4.6511598594251184, '노인과 바다'),
 (4.643934977213455, '이방인'),
 (4.626371167149917, '데미안'),
 (4.612229485254874, '남한산성'),
 (4.6014458175409105, '인간의 조건'),
 (4.600973846174566, '사서함 110호의 우편물'),
 (4.600377911053314, '나의 라임 오렌지나무'),
 (4.583324878593215, '햄릿'),
 (4.572807828019162, '유진과 유진'),
 (4.570315356668713, '별'),
 (4.5665509438246215, '동물농장'),
 (4.564390852026511, '동물농장'),
 (4.563895248909693, '댈러웨이 부인'),
 (4.5516160406457935, '소년이 온다'),
 (4.547011347658429, '인형의 집'),
 (4.5440692777224765, '죄와 벌'),
 (4.538839475523832, '브람스를 좋아하세요...'),
 (4.536030163560985, '죄와 벌'),
 (4.52635500345497, '브람스를 좋아하세요...')]

In [29]:
top_predictions

[Prediction(uid='DgwxAOYkmvrMj', iid='안나 카레니나', r_ui=3.5, est=4.99363874006277, details={'was_impossible': False}),
 Prediction(uid='Q9L5pJXkeqNb0', iid='어린 왕자', r_ui=3.0, est=4.879972601847631, details={'was_impossible': False}),
 Prediction(uid='djaxbPXZmPvLw', iid='토지', r_ui=5.0, est=4.871982763538107, details={'was_impossible': False}),
 Prediction(uid='6NW5QzzJkx1Yo', iid='모모', r_ui=3.5, est=4.8657223985075495, details={'was_impossible': False}),
 Prediction(uid='djaxbPXZmPvLw', iid='달과 6펜스', r_ui=4.5, est=4.788753304074694, details={'was_impossible': False}),
 Prediction(uid='6ADvGZ98eqzZl', iid='이방인', r_ui=5.0, est=4.7679173385358995, details={'was_impossible': False}),
 Prediction(uid='JgkqlD9DaqX0b', iid='어린 왕자', r_ui=5.0, est=4.739741211244818, details={'was_impossible': False}),
 Prediction(uid='Q9L5pJXkeqNb0', iid='의지와 표상으로서의 세계', r_ui=4.5, est=4.708278628150125, details={'was_impossible': False}),
 Prediction(uid='Q9L5pJXkeqNb0', iid='동물농장', r_ui=4.0, est=4.704925705295769, details={'was_impossible': False}),
 Prediction(uid='djaxbPXZmPvLw', iid='허클베리 핀의 모험', r_ui=5.0, est=4.696646287104574, details={'was_impossible': False}),
 Prediction(uid='2mwvgbGLgqMa7', iid='모모', r_ui=5.0, est=4.672605863813168, details={'was_impossible': False}),
 Prediction(uid='djaxbPXZmPvLw', iid='노인과 바다', r_ui=5.0, est=4.6511598594251184, details={'was_impossible': False}),
 Prediction(uid='6ADvG0XPK5zZl', iid='이방인', r_ui=4.5, est=4.643934977213455, details={'was_impossible': False}),
 Prediction(uid='Q9L5pJXkeqNb0', iid='데미안', r_ui=5.0, est=4.626371167149917, details={'was_impossible': False}),
 Prediction(uid='6ADvGZ98eqzZl', iid='남한산성', r_ui=4.0, est=4.612229485254874, details={'was_impossible': False}),
 Prediction(uid='6ADvGZ98eqzZl', iid='인간의 조건', r_ui=4.0, est=4.6014458175409105, details={'was_impossible': False}),
 Prediction(uid='djaxbPXZmPvLw', iid='사서함 110호의 우편물', r_ui=4.5, est=4.600973846174566, details={'was_impossible': False}),
 Prediction(uid='djaxbPXZmPvLw', iid='나의 라임 오렌지나무', r_ui=4.5, est=4.600377911053314, details={'was_impossible': False}),
 Prediction(uid='K8nPvyyY4vYo0', iid='햄릿', r_ui=4.5, est=4.583324878593215, details={'was_impossible': False}),
 Prediction(uid='djaxbPXZmPvLw', iid='유진과 유진', r_ui=5.0, est=4.572807828019162, details={'was_impossible': False}),
 Prediction(uid='djaxbPXZmPvLw', iid='별', r_ui=5.0, est=4.570315356668713, details={'was_impossible': False}),
 Prediction(uid='6NW5QB9Lyx1Yo', iid='동물농장', r_ui=4.0, est=4.5665509438246215, details={'was_impossible': False}),
 Prediction(uid='K8nPvyyY4vYo0', iid='동물농장', r_ui=5.0, est=4.564390852026511, details={'was_impossible': False}),
 Prediction(uid='6ADvGZ98eqzZl', iid='댈러웨이 부인', r_ui=4.5, est=4.563895248909693, details={'was_impossible': False}),
 Prediction(uid='6NW5QB9Lyx1Yo', iid='소년이 온다', r_ui=4.0, est=4.5516160406457935, details={'was_impossible': False}),
 Prediction(uid='Q9L5pJXkeqNb0', iid='인형의 집', r_ui=3.5, est=4.547011347658429, details={'was_impossible': False}),
 Prediction(uid='6ADvG0XPK5zZl', iid='죄와 벌', r_ui=5.0, est=4.5440692777224765, details={'was_impossible': False}),
 Prediction(uid='6NW5QB9Lyx1Yo', iid='브람스를 좋아하세요...', r_ui=4.0, est=4.538839475523832, details={'was_impossible': False}),
 Prediction(uid='6ADvGZ98eqzZl', iid='죄와 벌', r_ui=5.0, est=4.536030163560985, details={'was_impossible': False}),
 Prediction(uid='7gdxdr7e9vGYJ', iid='브람스를 좋아하세요...', r_ui=5.0, est=4.52635500345497, details={'was_impossible': False})]